/*Imports----------------------------------------------------Imports*/
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/*Colours-----------------------------------------------------------Colours*/
/*Universals----------------------------------------------------Universals*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fafafa;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: #fafafa;
  transition: 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: #2121bb;
}

/*Nav-----------------------------------------------------------Nav*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}

.logo {
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links button {
  color: #fafafa;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  background: none;
  border: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fafafa;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1068px) {
  .nav-links {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 2;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*Sections-----------------------------------------------------------Sections*/
section {
  position: absolute;
  top: 8%;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 92vh;
  width: 100%;
}

/*Sections - Home -----------------------------------------------------------Sections - Home*/
.home {
  background-image: linear-gradient(120deg, #464646 0%, #c2c4c5 100%);
  z-index: 1;
}

.home-content {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.home-content h1 {
  font-size: 3em;
  letter-spacing: 0.2em;
}
.home-content p {
  letter-spacing: 0.1em;
  margin: 6em;
  line-height: 3em;
}

/*Sections - About -----------------------------------------------------------Sections - About*/
.about {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  display: flex;
  flex-direction: column;
}
.about h1 {
  letter-spacing: 0.2em;
}

.skills {
  color: #5d4954;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.skill {
  width: 10em;
  min-height: 200px;
  margin: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.card-container img {
  height: 6em;
  margin-bottom: 1em;
}

.progress-bar {
  width: 100%;
  margin: auto;
  background-color: #a31a1a;
  border-radius: 2em;
}

.filled-bar {
  height: 100%;
  background-color: #278f27;
  color: #fafafa;
  border-radius: 0.5em;
}

.html-progress {
  width: 80%;
}

.css-progress {
  width: 90%;
}

.js-progress {
  width: 70%;
}

.git-progress {
  width: 75%;
}

.jq-progress {
  width: 50%;
}

.sass-progress {
  width: 60%;
}

/*Sections - Contact -----------------------------------------------------------Sections - Contact*/
.contact {
  background-color: blue;
  z-index: 0;
}

/*Sections - Portfolio -----------------------------------------------------------Sections - Portfolio*/
.portfolio {
  background-color: red;
  z-index: 0;
}

/*Change Classes-----------------------------------------------------------Change Classes*/
.to-front {
  z-index: 2;
}

.to-back {
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
